<div class="h-full overflow-y-scroll hide-scroll">
  <div class="flex flex-wrap justify-center mx-10 mt-5 bg-cyan-600 gap-10">
    <div class="data-group">
      <h2>Modlog</h2>
      <br>
      <div>

      </div>
    </div>
    <div class="data-group">
      <h2>Settings Log</h2>
      <br>
      <div>

      </div>
    </div>
    <div class="data-group">
      <h2>Activity Log</h2>
      <br>
      <div>

      </div>
    </div>
    <div class="data-group">
      <h2>Most Active Channels</h2>
      <br>
      <div>

      </div>
    </div>
  </div>
</div>
